{#
/**
 * @file
 * Default theme implementation for generatin font styles.
 *
 * Available variables:
 * - font_variants: The array with font info.
 * - mode: 'legacy' or 'modern'.
 */
#}
{% for variant in font_variants %}
@font-face {
  font-family: '{{ variant.font_family }}';
  font-style: {{ variant.font_style }};
  font-weight: {{ variant.font_weight }};
  font-display: {{ font_display }};
  {% if mode == 'legacy' %}
    src: url('{{ variant.eot }}'); /* IE 9 Compatibility Modes */
  {% endif %}
  src: {% for local in variant.local %}local('{{ local }}'),{% endfor %}
  {% if mode == 'legacy' %}
    url('{{ variant.eot }}#iefix') format('embedded-opentype'), /* IE6-IE8 */
    {% if variant.ttf %}
      url('{{ variant.ttf }}') format('truetype'), /* Safari, Android, iOS */
    {% endif %}
    url('{{ variant.svg }}#{{ variant.font_family }}') format('svg'), /* Legacy iOS */
  {% endif %}
  url('{{ variant.woff2 }}') format('woff2'), /* Super modern browsers */
  url('{{ variant.woff }}') format('woff'); /* Modern browswers */
}
{% endfor %}
